// Converts one px value to rem.
// `$zero-safe-rem-value` returns a 0 if `$px-value` is 0.
@function convert-to-rem($px-value) {
  $rem-value: $px-value / $base-font-size;
  $zero-safe-rem-value: if($px-value == 0, 0, $rem-value);

  @return $zero-safe-rem-value;
}

// Converts single or multiple px values into rem.
// Accepts multiple values in the form: `rem(20px 30px 0 40px)`.
@function rem($px-values) {
  $rem-values: ();

  @each $px-value in $px-values {
    $rem-values: append($rem-values, convert-to-rem($px-value));
  }

  @return $rem-values;
}

@function pxToRem($pxSize) {
  @return $pxSize / 16 + rem;
}