.nav.nav-tabs{
    gap: 1.25rem;

	.nav-link{
		border-color: transparent;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		font-weight: 500;
		font-size: .8125rem;
		color: $gray-700;
	    padding: 1rem 0;
		border-bottom: 2px solid transparent;

		&.active{
			color: $blue;
			background-color: transparent;
			border-bottom-color: $blue;
		}
	}
}